{% extends "employees/base.html" %}

{% block title %}
Employee List
{% endblock %}

{% block content %}
    <div style="justify-content: flex-end;">
        <h1>Employee List</h1>
        {% if perms.employees.add_employee %}
            <a href="{% url 'employee_create' %}">Add Employee</a>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'logout' %}">
            Logout
        </a>
    </div>

    {% for employee in employees %}
    <div class="employee">
        <h2>{{ employee.name }}</h2>
        <p>Age: {{ employee.age }}</p>
        <p>Designation: {{ employee.designation }}</p>
        <p>
            Projects:
            {% for project in employee.projects.all %}
                {{ project.name }}
            {% endfor %}
        </p>

        {% if perms.employees.delete_employee %}
            <form method="post" action="{% url 'employee_delete' employee.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}

        {% if perms.employees.change_employee %}
            <a href="{% url 'employee_update' employee.id %}">Update</a>
        {% endif %}
    </div>
{% endfor %}

<div class="pagination">

    {% if employees.has_previous %}
        <a href="?page={{ employees.previous_page_number }}">
            Previous
        </a>
    {% endif %}

    <span>
        Page {{ employees.number }} of {{ employees.paginator.num_pages }}
    </span>

    {% if employees.has_next %}
        <a href="?page={{ employees.next_page_number }}">
            Next
        </a>
    {% endif %}

</div>

{% endblock %}